<!— views/pages/index.ejs —>

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
    <h2>Variables</h2>
    <!-- <ul>
        <% family.forEach(function(family) { %>
            <li><%= family.name %> - <%= family.role %></li>
        <% }); %>
    </ul> -->

    <ul>
        <% for (var i=0; i<family.length; i++){ %>
            <li><%= family[i].name %> - <%= family[i].role %></li>
        <%  } %>
    </ul>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>